body {
  margin: auto;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: flex;
}

.button {
  display: flex;
  margin-right: 5%;
  justify-content: space-around;
  align-items: center;
}

.fa {
  color: black;
  font-size: 20pt;
  margin-right: 15px;
}

.fa:hover {
  color: grey;
}
